// reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #f6f6f6;
}

.n-drawer-mask {
  backdrop-filter: blur(3px);
  background-color: color-mix(in oklab, #888 10%, transparent);
}

.card {
  background-color: #fff;
  padding: 10px;
  border-radius: 16px;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 5px;
}
